// Main CSS//

/// Site Vars

$main-white: #fff;
$main-background: #34495e;
$main-blue: #3498db;

$background-colour: $main-background;
$list-title-color: $main-white;
$list-title-border: $main-white;
$list-info-color: $main-blue;

.file-list-container {
	text-transform: capitalize;
	background: $background-colour;
}

.file-list-container__wrapper {
	padding: 15px;
	border: 1px solid list-title-border;
}

.file-list-container__type {
	color: $list-title-color;
	font-size: 18px;
	margin-bottom: 15px;
}

.file-list-container__info {
	margin-bottom: 15px;
	display: block;
	text-decoration: none;
	color: $list-info-color;
}